services:
  ansible:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ansible
    command: ["tail", "-f", "/dev/null"]
    volumes:
      - .:/app
      - ./ssh_keys:/keys

  vps1:
    build:
      context: demo/vps1
      args:
        IMAGE_TAG: ${IMAGE_TAG:-arm64v8-latest}
    container_name: vps1
    environment:
      - TZ=Europe/Paris
      - PUBLIC_KEY_FILE=/keys/id_ed25519_root.pub
    volumes:
      - ./ssh_keys/id_ed25519_root.pub:/keys/id_ed25519_root.pub:ro
    ports:
      - "2222:2222"
  
  vps2:
    build:
      context: demo/vps2
      args:
        IMAGE_TAG: ${IMAGE_TAG:-arm64v8-latest}
    container_name: vps2
    environment:
      - TZ=Europe/Paris
      - PUBLIC_KEY_FILE=/keys/id_ed25519_user.pub
    volumes:
      - ./ssh_keys/id_ed25519_user.pub:/keys/id_ed25519_user.pub:ro
  
  vps3:
    build:
      context: demo/vps3
      args:
        IMAGE_TAG: ${IMAGE_TAG:-arm64v8-latest}
    container_name: vps3
    environment:
      - TZ=Europe/Paris
