services:
  ansible:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ansible
    command: ["/app/entrypoint.sh"]
    volumes:
      - ./ssh_keys:/keys:ro

  vps1-debian:
    build:
      context: demo/vps1-debian
      args:
        IMAGE_TAG: ${IMAGE_TAG:-arm64v8-latest}
    container_name: vps1-debian
    environment:
      - TZ=Europe/Paris
      - PUBLIC_KEY_FILE=/keys/id_ed25519_root.pub
    volumes:
      - ./ssh_keys/id_ed25519_root.pub:/keys/id_ed25519_root.pub:ro
    cap_add:
      - NET_ADMIN
      - NET_RAW

  vps1:
    build:
      context: demo/vps1
      args:
        IMAGE_TAG: ${IMAGE_TAG:-arm64v8-latest}
    container_name: vps1
    environment:
      - TZ=Europe/Paris
      - PUBLIC_KEY_FILE=/keys/id_ed25519_root.pub
    volumes:
      - ./ssh_keys/id_ed25519_root.pub:/keys/id_ed25519_root.pub:ro
    cap_add:
      - NET_ADMIN
      - NET_RAW
  
  vps2:
    build:
      context: demo/vps2
      args:
        IMAGE_TAG: ${IMAGE_TAG:-arm64v8-latest}
    container_name: vps2
    environment:
      - TZ=Europe/Paris
      - PUBLIC_KEY_FILE=/keys/id_ed25519_user.pub
    volumes:
      - ./ssh_keys/id_ed25519_user.pub:/keys/id_ed25519_user.pub:ro
    cap_add:
      - NET_ADMIN
      - NET_RAW  

  vps3:
    build:
      context: demo/vps3
      args:
        IMAGE_TAG: ${IMAGE_TAG:-arm64v8-latest}
    container_name: vps3
    environment:
      - TZ=Europe/Paris
    cap_add:
      - NET_ADMIN
      - NET_RAW
