---
# User Management
- name: Ensure group 'wheel' exists # This is mainly for RedHat/CentOS/Fedora systems
  group:
    name: wheel
    state: present

- name: Create a new user with sudo privileges
  user:
    name: "{{ new_user }}"
    groups: sudo,wheel
    append: yes
    shell: /bin/bash
    create_home: yes

- name: Set up authorized keys for the new user
  authorized_key:
    user: "{{ new_user }}"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
  ignore_errors: yes # In case local key doesn't exist, user should provide it or we can make it a var

# SSH Hardening
- name: Configure SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    validate: 'sshd -t -f %s'
  with_items:
    - { regexp: '^#?Port', line: 'Port {{ ssh_port }}' }
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?PubkeyAuthentication', line: 'PubkeyAuthentication yes' }
    - { regexp: '^#?ChallengeResponseAuthentication', line: 'ChallengeResponseAuthentication no' }
  notify: Restart SSH

# Firewall (UFW)
- name: Allow SSH on new port
  ufw:
    rule: allow
    port: "{{ ssh_port }}"
    proto: tcp

- name: Enable UFW
  ufw:
    state: enabled
    policy: deny

# Fail2Ban
- name: Configure Fail2Ban jail.local
  copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [sshd]
      enabled = true
      port = {{ ssh_port }}
      filter = sshd
      logpath = /var/log/auth.log
      maxretry = 3
      bantime = 3600
  notify: Restart Fail2Ban
