---
- name: Check for sshd binary
  stat:
    path: /usr/sbin/sshd
  register: sshd_bin

- name: Check for sshd.pam binary (Alpine/LinuxServer)
  stat:
    path: /usr/sbin/sshd.pam
  register: sshd_pam_bin

- name: Set sshd binary path
  set_fact:
    sshd_binary: "{{ '/usr/sbin/sshd.pam' if sshd_pam_bin.stat.exists else '/usr/sbin/sshd' }}"

- name: Force SysV service manager inside Docker
  set_fact:
    ansible_service_mgr: init
  when: is_docker | default(false)

- name: Debug - show virtualization type and service manager
  debug:
    msg: "Virtualization type: {{ ansible_facts.virtualization_type }} - {{ansible_service_mgr}}"

- name: Deploy SSH config
  template:
    src: sshd_config.j2
    dest: "{{ ssh_config_path | default('/etc/ssh/sshd_config') }}"
    backup: yes
    validate: "{{ sshd_binary }} -t -f %s"
  notify: restart ssh
