Port {{ ssh_port }}
StrictModes no

PermitRootLogin {{ ssh_permit_root_login | bool | ternary('yes', 'no') }}
PasswordAuthentication {{ ssh_password_auth | bool | ternary('yes', 'no') }}

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
ChallengeResponseAuthentication {{ ssh_challenge_response | default('no') | bool | ternary('yes', 'no') }}

{% if ssh_allow_users is defined and ssh_allow_users | length > 0 %}
{% if ssh_allow_users is string %}
AllowUsers {{ ssh_allow_users }}
{% else %}
AllowUsers {{ ssh_allow_users | join(' ') }}
{% endif %}
{% endif %}

{% if ssh_use_pam is defined and ssh_use_pam %}
UsePAM yes
{% endif %}

Subsystem sftp {{ sftp_subsystem_path }}
